@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
@import '~@fortawesome/fontawesome-free/css/all.min.css';

.App {
  font-family: 'Kanit';
  width: 100%;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.8), rgba(230, 206, 255, 0.8), rgba(200, 150, 255, 0.6));
  background-blend-mode: multiply;
  /*box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15); */
  /*border-radius: 12px;*/
  overflow-y: auto;
}
