.bidContainer{
    display: grid;
    justify-content: center;
    align-items: center;
}

.standingOffers h1{
    justify-self:center;
    font-size: 36px;
    color: #f4f4f4;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 10px;
}
.standingOffers{
    width: 100%;
}