body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chains-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
    color: #fff;
}

.chains {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    max-width: fit-content;
}

.chain-group {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 20px;
}

.chain-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}

.chain-item {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    transition: transform 0.3s, box-shadow 0.3s, color 0.3s; 
    flex: 1;
    width: 100%; 
    min-width: 200px; 
    height: auto;
}

.chain-group {
    display: flex;
    gap: 20px;
    align-items: stretch; 
}

.chain-item {
    min-height: 150px; 
}

.chain-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.chain-item p {
    margin: 5px 0;
    font-size: 1.1rem;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    transition: color 0.3s;
}

.chain-item:hover p {
    color: #db23db; 
}

.arrow-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    margin-left: 25px;
}

.arrow {
    width: 30px;
    height: auto;
}

.chain-item button {
    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
    cursor: pointer;
    transition: transform 0.3s, background 0.3s, box-shadow 0.3s;
    margin: 5px; 
}
.chain-item button:hover {
    background: #db23db;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}
.chain-item button:active {
    transform: scale(0.95); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); 
}


@media (max-width: 768px) {
    .chains {
        flex-direction: column;
        gap: 20px;
    }

    .chain-group {
        flex-direction: column;
        align-items: center;
    }

    .chain-container {
        flex-direction: column;
        gap: 10px;
    }

    .arrow-container {
        width: auto;
    }

    .arrow {
        width: 25px;
    }
}

