.logo img {
  width: 198px;
  height: 50px;
  margin-left: 5%;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 100000005;
  border-bottom: 2px solid #000000;
  background: linear-gradient(90deg, rgba(211, 0, 244, 0.36), rgba(0, 195, 255, 0.36));
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.navigation:hover {
  background: linear-gradient(90deg, rgba(255, 0, 150, 0.5), rgba(0, 255, 200, 0.5));
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.navigation-menu {
  margin-left: auto;
  margin-right: 2rem;
}

.navigation-menu ul {
  display: flex;
  padding: 0.5rem;
  margin: 0;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
  position: relative;
  text-align: center;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.navigation-menu li:hover {
  transform: translateY(-3px) rotate(-5deg);
  animation: swing 0.5s ease-in-out forwards;
}

.nav-link-line {
  position: relative;
  padding: 0.5em 1em;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  color: #fff;
  border: none;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link-line::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 25%;
  width: 50%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.nav-link-line:hover {
  color: #ff79c6;
}

.nav-link-line:hover::after {
  opacity: 1;
  bottom: 0;
  animation: swing 0.5s ease-in-out forwards;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(7deg);
  }
  50% {
    transform: rotate(-7deg);
  }
  75% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.navigation-menu li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  height: 3px;
  background-color: #ffffff; 
  transition: width 0.3s ease, left 0.3s ease;
}

.navigation-menu li:hover::after {
  width: 80%;
  left: 10%;
}

.navigation-menu li:hover {
  transform: translateY(-3px);
  animation: swing 0.5s ease-in-out forwards;
}

.link {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.link:hover {
  color: #ff79c6;
  text-decoration: underline;
}

.link.active {
  color: #ff79c6;
  font-weight: bold;
}
