
.logo img {
  width: 198px;
  height: 50px;
  margin-left: 5%;
}

.navigation {
  position: absolute;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 100000005;
  border-bottom: 2px solid #000000;
  background-color: rgba(211, 0, 244, 0.36);
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0.5rem;
}

.navigation-menu li { 
  list-style-type: none;
  margin: 0 1rem;
  transition: all 1s;
}

.navigation-menu li,
.navigation-menu li button {
  text-decoration: none;
  font-size: 1.5rem;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 0;
  margin: 0 10px;
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-family: Kanit;
}

.nav-link-line:hover,
button.nav-link-line:hover {
  opacity: 1;
}

.nav-link-line::before,
button.nav-link-line::before {
  transition: 400ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #000000;
  width: 0%;
  bottom: 15px;
}

.nav-link-line:hover::before,
button.nav-link-line:hover::before {
  width: 100%;
}

.link{
  text-decoration: none;
  color: black;
}