.savePreferences {
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.checkbox-wrapper{
    display: flex;
    gap: 10px;
    padding: 5px;
    width: 20%; 
}
input[type="checkbox"] {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    accent-color: #e00cb2;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 0.2s ease, transform 0.2s ease;
}
.categoryName {
    padding-top: 11%;
    font-size: 18px;
    color: #f5f5f5;
    text-align: left;
    text-wrap: none;
    font-weight: bold;
}

.categoryName:hover {
    color: #7b1fa2;
}

input[type="checkbox"]:hover {
    transform: scale(1.1);
}

.savePreferences label{
    display: inline;
}