.results-list{
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 0px;
    border-radius: 10px;
}
.result-item{
    max-width: 600px;
    margin: 35px auto;
    padding: 20px;
    background: linear-gradient(135deg, rgba(211, 211, 211, 0.8), rgba(205, 173, 240, 0.8), rgba(124, 41, 233, 0.9));
    background-blend-mode: multiply;
    border: 1px solid #e017d6;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    color: #333;
    line-height: 1.6;
    margin-top: 15px;
    text-align: center;
}
.result-item > h4{
    font-size: 24px;
    color: #b535f1;
    margin-bottom: 15px;
    text-align: center;
}
